<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/site.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/buttons.css') }}"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:100,400' rel='stylesheet' type='text/css'/>
  <title>pithy</title>
</head>
<body>
  <a href="https://github.com/chromy/pithy"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_darkblue_121621.png" alt="Fork me on GitHub"></a>
  <div class="inner">
    <div class="header">
      <h1>pithy</h1>
      <h2>A url shortener.</h2>
      <h2>An <a href="https://github.com/chromy/pithy">example</a> of a <a href="http://flask.pocoo.org/">flask</a> app.</h2>
    </div>

    <div class="messages">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message|safe }}</div>
      {% endfor %}
    </div>

    <form action="{{ url_for('home') }}" method=post class=add-entry>
      <input type=text size=30 name=url placeholder="www.areallylongurl.com">
      <button class="btn btn-large btn-inverse" type="submit">Shorten!</button>
    </form>
  </div>
</body>
</html>
